*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;
    font-family: "Arial", sans-serif;
}

.container {
    width: 100%;
    max-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*  HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
}

.site-logo {
    display: flex;
    width: 208px;
    height: 32px;
    /* margin-right: 811px; */
}
.site-logo svg {
    color: #fff;
}

.main-btn {
    padding: 18px 24px;
    border-radius: 16px;
    background-color: #25252D;
    color: #B0B7C3;
    border: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
}